.container {
    position: relative;
    /*border: 10px;
    border-style: solid;
    border-color: cadetblue;*/
}
.n1 {
    position: absolute;
    left: 40px;
    width: 180px;
   /* border: 1px solid rgb(99, 15, 15);*/
}
.n2{
    position: absolute;
    top: 90px;
    left: 45px;
    width: 174px;
   /*border: 1px solid rgb(99, 15, 15);*/
}
.n3{
    position: absolute;
    top: 90px;
    right: 15px;
    width: 160px;
   /* border: 1px solid rgb(99, 15, 15);*/
}
section{
    /* position is static by default */
    margin-left: 240px;
    margin-right: px;
    /*border: 1px solid aquamarine ;*/
}
.btn {
    background: bisque;
    border-radius: 30%;
    margin-left: 13px;
    cursor: pointer;
}
canvas{
    border: 5px solid rgba(38, 114, 190, 0.781);
    background-color:transparent;
    position: absolute;

}
body{
    background-color: whitesmoke ;
}

#palette_div {
    position: absolute;
    margin-top: 100px;
    width: 85%;
    height: 15%; 
    background-color: whitesmoke ;
    /*box-shadow: 0 0 2px 1px rgba(0,0,0,.4);*/
  }
#slider_track {
    position: relative;
    width: 85%;
    margin: auto;
    height: 25%;
    top: 18%;
    border-radius: 100px;
    box-shadow: inset 0 0 10px 10px rgba(0,0,0,.4);
  }
  
  #slider {
    position: absolute;
    width: 5%;
    height: 50%;
    top: 10%;
    left: 6%;
    border-radius: 100px;
    background-color: lightcoral ;
    box-shadow: 0 0 2px 1px rgba(0,0,0,.4);
    cursor: pointer;
  } 
  
  /* a transparent surface that prevents browser from grabbing the icon when sliding */
  #slider_mask {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  #paint{
    width: 830px;
    height: 470px;
  }

  #myCanvas{
      top:0;
  }

  #tmpCanvas{
      top:0;
  }

  #colorwheel {
    margin: 20px auto;
    position: relative;
    width: 50px;
    height:50px;
  }
  
  span {
    cursor: pointer;
    position: absolute;
    top: 50px;
    left: 55px;
    width: 30px;
    height: 8px;
    -ms-transform-origin: -45px 50%;
    -webkit-transform-origin: -45px 50%;
    -moz-transform-origin: -45px 50%;
    -o-transform-origin: -45px 50%;
    transform-origin: -45px 50%;
    opacity: 0.1;
  }
  
  span:hover, span:active {
    opacity: 1;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
  }